mmc-pack.json
instance.cfg
*.log
saves
logs
.minecraft/local/*
.mixin.out
.minecraft/enigmatic_persistence.dat
modernfix
crash-reports
server-resource-packs
screenshots
coremods
defaultconfigs
kubejs
.cache